body {
  background-color: lightgray;
}

header {
  height: 130px;
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.trybewarts-header-logo {
  height: 100px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-flow: column wrap;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 30px;
}

#section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#section1 :nth-child( 4 ) {
  align-items: flex-end;
  flex-grow: 0.55;
}


#preference {
  display: flex;
  flex-wrap: wrap;
}

#rating {
  display: flex;

}

#rating div {
  flex-direction: column;
  flex-grow: 1;
}

#textareaContainer {
  display: flex;
  flex-direction: column;
}

#textarea {
  height: 50px;
}

#submit-btn {
  background-color: blueviolet;
}
